<html>
<head>
    <title>To Do Lists</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
            <div class="text-center">
                <h1 class="mb-4">{% block header_text %}{% endblock %}</h1>

                <form action="{% block form_action %}{% endblock %}" method="POST">
                    {% csrf_token %}
                    <input type="text"
                           class="form-control input-lg"
                           id="new_item"
                           name="item_text"
                           placeholder="Enter a to-do item">
                    {% if error %}
                    <div class="form-group has-error">
                        <span class="help-block">{{ error }}</span>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
